.waypoint {
  padding: 12px 0px;
  border: 1px solid black;
  width: 50%;
  margin: 4px auto;
  display: flex;
  justify-content: space-around;
}

.waypoint-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}